@model IEnumerable<test.Models.Events>

@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}

<h2>Events</h2>

<p>
    @Html.ActionLink("Create New Event", "Create")
</p>

@using (Html.BeginForm("Recherche", "Events"))
{
    //Champ texte de recherche
    @Html.TextBoxFor(e => e.FirstOrDefault().name)
    <input type="submit" value="Rechercher" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Convert.ToDateTime(item.date).ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })|
                @Html.ActionLink("Mailing", "Mailing", new { id = item.id })
            </td>
        </tr>
    }

</table>
